.container{
    text-align: center;
}

.title{
    font-size: 4rem;
}

.filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.type{
    margin: 1rem;
}

.criteria{
    margin: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-self: center;
}