.list {
    display: grid;

    grid-template-columns: auto auto auto auto;
    justify-content: center;

    gap: 10px;

    margin: 1rem;
}

@media screen and (max-width: 800px) {
    .list {
        display: grid;

        grid-template-columns: auto auto;
        justify-content: center;

        gap: 10px;
        margin: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .list {
        display: grid;

        grid-template-columns: auto;
        justify-content: center;

        gap: 10px;
        margin: 1rem;
    }
}